from dataclasses import dataclass
from shapely.geometry import Point, Polygon as ShapelyPolygon

### Value Sets

@dataclass
class Coordinate:
    latitude: float
    longitude: float

    def within(self, polygon: "Polygon") -> bool:
        point = Point(self.longitude, self.latitude)
        return point.within(
            ShapelyPolygon([(c.longitude, c.latitude) for c in polygon.coordinates])
        )

    def withinDistance(self, distance: float, other: "Coordinate") -> bool:
        point1 = Point(self.longitude, self.latitude)
        point2 = Point(other.longitude, other.latitude)
        return point1.distance(point2) <= distance


@dataclass
class Polygon:
    coordinates: list[Coordinate]


@dataclass
class String:
    value: str

    def endsWith(self, ending: str) -> bool:
        return self.value.endswith(ending)


{% for value_set in value_sets %}
@dataclass
class {{ value_set }}:
    """
    Add attributes here.
    """
    pass
{% endfor %}

### Entities

{% for entity in entities %}
@dataclass
class {{ entity }}:
    thing_id: str
    """
    Add any additional attributes here.
    """

    @classmethod
    def from_ditto(cls, ditto_entity) -> "{{ entity }}":
        return cls(
            thing_id=ditto_entity["thingId"],
            # Add any additional attributes here.
        )

    {% for interface in interfaces[entity] %}
    def {{ interface.lower().replace(" ", "_") }}(self):
        """
        Implement this method to handle the {{ interface }} interface.
        """
        ...
    {% endfor %}
{% endfor %}
